@mixin main-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: $main-text-color;
}

@mixin title {
    color: $main-text-color;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}

@mixin title-section {
    color: $menu-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

@mixin menu-text {
    color: $menu-text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
}

@mixin text-bottom {
    color: $menu-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.7218;
}

@mixin aside-text {
    color: $main-text-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}

@mixin btn-text {
    color: $white;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: -0.15px;
}

@mixin text-item {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.2px;
}
