*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'TT Lakes', 'Arial', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    margin: 0 auto;
    min-width: 320px;

    @include desktop {
        width: 1440px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    background-color: $background-main;
    height: 100%;

    @include tablet {
        min-width: 768px;
    }

    @include desktop {
        gap: 0;
    }
}

.background {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: $white;
    opacity: 0.9605;
}

.background__modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 102;
    background-color: $white;
    opacity: 0.9605;
}

.button-more {
    @include main-text();
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;

    @include tablet {
        padding-left: 24px;
    }

    @include desktop {
        padding-left: 32px;
    }
  
    &::before {
    content: '';
    background: url('../img/expand.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    }
}

.button-hide {
    @include main-text();
    border: none;
    background-color: inherit;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 8px;

    @include tablet {
        display: none;
        padding-left: 24px;
    }

    @include desktop {
        padding-left: 32px;
    }
    
    &::before {
    content: '';
    background: url('../img/expand-hide.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    }
}

.title-section {
    @include title-section();
    padding: 16px;
    background-image: $liner-gradient; 
    border-top: 1px solid $band-color;

    @include tablet {
        padding-left: 24px;
    }

    @include desktop {
        padding-left: 32px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}