$gray: #B5B6BC;
$white: #FFF;
$light-gray: #EAEAEA;

$background-main: #F8F8F8;
$main-text-color: #1B1C21;
$band-color: #D9FFF5;
$menu-text-color: #7E7E82;
$pattern-color: #41F6D7;
$border-active-color: #B8FFEC;
$swiper-pagination: #DDDDDD;
$link-color: #FF3E79;
$link-color-active: #670724;

$liner-gradient: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
$box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
